<a href="https://colab.research.google.com/github/gahan864/Basic_Python_Assignment/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENT NUMBER 1 Questio no. 1

QUESTION 1

In [ ]:
L = [11, 12, 13, 14]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

QUESTION 2

In [ ]:
L = [11, 12, 13, 14]
L.remove(11)
L.remove(13)
print(L)

[12, 14]

QUESTION 3

In [ ]:
L = [11, 12, 13, 14]
L.sort()
print(L)

[11, 12, 13, 14]

  QUESTION 4

In [ ]:
L = [11, 12, 13, 14]
L.sort(reverse=True)
print(L)

[14, 13, 12, 11]

QUESTION 5

In [ ]:
L = [11, 12, 13, 14]
if 13 in L:
    print("13 is present in L")
else:
    print("13 is not present in L")

13 is present in L

QUESTION 6

In [ ]:
L = [11, 12, 13, 14]
count = len(L)
print("Number of elements in L:", count)

Number of elements in L: 4

QUESTION 7

In [ ]:
L = [11, 12, 13, 14]
total = sum(L)
print("Sum of elements in L:", total)

Sum of elements in L: 50

QUESTION 8

In [ ]:
L = [11, 12, 13, 14]
odd_sum = sum(num for num in L if num % 2 != 0)
print("Sum of odd numbers in L:", odd_sum)

Sum of odd numbers in L: 24

QUESTION 9

In [ ]:
L = [11, 12, 13, 14]
even_sum = sum(num for num in L if num % 2 == 0)
print("Sum of even numbers in L:", even_sum)

Sum of even numbers in L: 26

QUESTION 10

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

L = [11, 12, 13, 14]
prime_sum = sum (num for num in L if is_prime(num))
print ("Sum of prime nos. in L:", prime_sum)

Sum of prime nos. in L: 24

QUESTION 11

In [ ]:
L = [11, 12, 13, 14]
L.clear()
print(L)

[]

QUESTION 12

In [ ]:
L = [11, 12, 13, 14]
del L

# Question Number 2